
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --index: calc(1vw + 1vh);
    --swiper-theme-color: #b6b7b8;
    --swiper-navigation-size: 30px;
    --swiper-pagination-bottom : 30px;
    --swiper-navigation-sides-offset: 30px;
    --swiper-pagination-bullet-inactive-color : #858282;






}
body{
    background-color: #ffffff;
    color: #ffffff;
}
.slider{
    height: 100vh;


}
.slide__content button{
    --button-color: rgb(0, 0, 0);
    padding: 10px  30px;
    font-size: 15.5px;
    border-radius: 20em;
    background-color: transparent;
    border: 1px solid var(--button-color);
    color:#ffffff;
    cursor: pointer;
    width: fit-content;
    justify-content: center;
    text-transform: uppercase;





}
.slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide__content {
    text-align: center;

}
.slide__content h2 {
    font-size: 5rem;
    font-size : calc(var(--index)*3.6);
    text-transform: uppercase;
    letter-spacing: calc(var(--index)*1.1);
    margin-bottom: calc(var(--index)*1.5);
    position: relative;
    color: #000000
}
.slide__content h2::after {
    content: "";
    height: 1px;
    width: 20%;
    background-color: rgb(128, 134, 140);
    position: absolute;
    left: 40%;
    bottom:calc(var(--index)*-1) ;

}
.slide__content p {
    font-size: calc(var(--index)*.8);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: calc(var(--index)*.25);

}
.video-beckground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    will-change: transform, opacity;
    backface-visibility: hidden;
    z-index: -1;
}
/* Кнопка виклику */
.group button {
    padding: 10px 20px;
    background-color: #0c1b5e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.96);
}

#modalForm, #modalForm2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c2a2a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 1001;
    width: 550px;
    max-width: 90%;
    color: #ffffff;
}

#filter, #filterEntry {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* Стилі для елементів форми */
.group {
    margin-bottom: 13px;
}

.group input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background: #424242;
    color: white;
    outline: none;
}

.btn-primary {
    background-color: #35c75a;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.btn-primary:hover {
    background-color: #2d8758;
}

/* Заголовок */
#modalForm h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

/* Група вводу */
.group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* Текст мітки */
.group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
}

/* Поля вводу */
.group input {
    background: #686767;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border 0.3s;
}

.group input:focus {
    border-color: #0618d8;
    outline: none;
}

/* Центрування кнопки */
.group center {
    display: flex;
    justify-content: center;
}
.btn-primary {
    padding: 10px 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #01031f;
    transform: scale(1.05);
}





/* --модальне вікно для вибору тарифу-- */
.pricing-table {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.plan {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: center;
    background: linear-gradient(to bottom right, #1e1e1e, #515152);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    color: #ffffff;
}

.plan:hover {
    transform: scale(1.05);
    border-color: #999;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.plan.selected {
    border-color: #000000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    background: linear-gradient(to bottom right, #0a0018, #dfdfdf);
    color: #000000;
}

.plan .label {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #170131;
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.plan h2 {
    margin: 0 0 10px;
    font-size: 16px;
}

.plan h2 span {
    display: block;
    font-size: 14px;
    color: #bbbbbb;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #c59f08;
}

.plan ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
}

.plan ul li {
    margin: 8px 0;
    font-size: 14px;
    color: #dddddd;
}

.plan ul li::before {
    content: " ✓";
    font-size: 16px;
    color: #000000;
    margin-right: 8px;
}

.slide__content h2::after {
    content: "";
    height: 1px;
    width: 20%;
    background-color: rgb(128, 134, 140);
    position: absolute;
    left: 40%;
    bottom:calc(var(--index)*-0.5) ;
}

